.active b{
    color: white;
}

.add-note {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    margin: 6px 20px 10px 20px;
    background-color: lightgray;
    width: 80%;
    height: 2rem;
    padding: 1px;
    border: 1px solid white;
    border-radius: 8px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.active {
    background-color: gray;
}

.add-note:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: gray;
    color: white;
}