.list-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  h2{
    margin: 0;
  }

  li {
    float: left;
    padding: 0;
    margin: 15px 10px 0 20px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  &__active-tab {
    font-style: italic;
    border-bottom: 2px solid;
  }
}