.create-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-creator{
    margin: 60px 15px 15px 15px;
    width: 80%;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 8px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.note-creator input, textarea{
    outline: 0 !important;
    margin: 6px 20px 10px 20px;
    width: 95%;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid white;
    border-radius: 8px;
}

.note-creator input{
    height: 2rem;
}

.note-creator textarea{
    resize: none;
}

.note-creator:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}