.list-notes {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 5px;
  height: 30rem;

  & .active {
    background-color: gray;
    color: white;
    .deleted{
      display: none;
    }
  }

  &__message-no-notes {
    margin: 17px;
    opacity: 0.4;
    cursor: default;
  }

  &__data {
    font-size: 13px;
    opacity: 50%;
    float: right;
    padding: 0 8px 8px 0;
  }

  &__note {
    margin: 20px;
    width: 80%;
    background-color: lightgray;
    padding: 0 0 0 10px;
    border: 1px solid #cecece;
    border-radius: 8px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .non-click {
    pointer-events: none;
  }

  .deleted {
    position: relative;
    float: right;
    padding: 10px 10px 0 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: default;
    &:hover {
      opacity: 1;
    }
    &:before,&:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}