.App {
    display: flex;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    min-width: 470px;
    background-color: #ededed;
}

.App .main-unit {
    flex: 5;
}

.App .said-unit {
    flex: 2;
}

.App .app-style {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    margin: 6px 20px 10px 20px;
    background-color: lightgray;
    width: 80%;
    height: 2rem;
    padding: 1px;
    border: 1px solid white;
    border-radius: 8px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.App .app-style:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: gray;
    color: white;
}

h1, h2 {
    margin: 6px 20px 10px 20px;
    cursor: pointer;
}

h1:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

a {
    text-decoration: none;
}

a:active,
a:link,
a:visited,
a:hover {
    color: black;
}