@import "normalize.css";

.app {
  display: flex;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 8px;
  min-width: 470px;
  background-color: #ededed;
  font-family: Arial;

  & .app__main-unit {
    flex: 5;
  }

  & .app__said-unit {
    flex: 2;
  }

  & .non-click {
    pointer-events: none;
  }

  & .main-item-style {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0 !important;
    margin: 10px 20px 15px 20px;
    padding: 1px;
    width: 80%;
    height: 2rem;
    font-size: 15px;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 8px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background-color: gray;
      color: white;
    }
  }

  & .content-section {
    margin: 60px 15px 15px 15px;
    padding: 20px;
    width: 80%;
    border: 1px solid #cecece;
    border-radius: 8px;
    background-color: lightgray;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;

    &:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
    }
    & hr{
      margin: 10px 20px;
    }
  }

  & .chosen-check {
    margin: 15px 0 15px 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    .checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;

      & + label {
        position: relative;
        padding: 0 0 0 60px;
        cursor: pointer;
      }

      & + label:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        width: 50px;
        height: 26px;
        border-radius: 13px;
        background: #CDD1DA;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
        transition: .2s;
      }

      & + label:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 2px;
        width: 22px;
        height: 22px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        transition: .2s;
      }

      &:checked + label:before {
        background: gray;
      }

      &:checked + label:after {
        left: 26px;
      }
    }
  }

  & .button-section {
    display: flex;
    margin: 0;
  }

  .fa-star{
    position: relative;
    float: right;
    padding: 12px 5px 0 0;
    font-size: 15px;
    opacity: 0.3;
    cursor: default;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
      opacity: 0.6;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    &.fa-star_active{
      opacity: 0.6;
    }
  }

  .deleted {
    position: relative;
    float: right;
    padding: 10px 10px 0 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: default;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
      opacity: 0.6;
      -webkit-transform: scale(1.13);
      -ms-transform: scale(1.13);
      transform: scale(1.13);
    }
    &:before,&:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 18px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  h1 {
    margin: 10px 20px 20px 20px;
    cursor: pointer;

    &:hover {
      animation: bounce 1s;
    }

    @keyframes bounce {
      0%,
      20%,
      60%,
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }

      80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }
  }

  h2{
    margin: 10px 20px 20px 20px;
    cursor: default;
  }

  a {
    text-decoration: none;

    &:active,
    &:link,
    &:visited,
    &:hover {
      color: black;
    }
  }
}